// font
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 1.4;

// colors
$color-background: #fff;
$color-primary: #29b9e3;
$color-text: #555;
$color-link-default: #29b9e3;
$color-link-hover: #df4a1c;
$color-hr: #ccc;
$color-heading: #333;
$color-line: #ccc;

// margins
$margin-default: 30px;
$padding-default: 30px;

// responsive mode
$responsive-mode: 'fluid-fixed'; // options: 'fluid' or 'fluid-fixed'

// break points
$phone: 320px;
$phablet: 480px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1200px;

// grid
$column-number: 12;
$column-gap: 30px;
$width-grid: 1170px;

// image path
$image-path: '../img/';

// retina image suffix
$image-suffix: '-2x';