// @include background-image(logo, png, 100px, 100px, center, no-repeat);
@mixin background-image($file, $type, $width, $height, $position, $repeat) {

	background-image: url($image-path + $file + '.' + $type);
	background-position: $position;
	background-repeat: $repeat;

	@include hidpi(1.3) {
        background-image: url($image-path + $file + '-2x.' + $type);
        background-size: $width $height;
	}

}

// @include border-radius(5px);
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;
}

// @include box-sizing(border-box);
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

// @include box-shadow(10px, 10px, 5px, 0px, #000);
@mixin box-shadow($x, $y, $b, $s, $color ) {
    -webkit-box-shadow: $x $y $b $s $color;
    -moz-box-shadow: $x $y $b $s $color;
    box-shadow: $x $y $b $s $color;
}

// @include breakpoint(phone) {}
@mixin breakpoint($class) {

    @if $class == phone {
        @media (max-width: $phone) { @content; }
    }

    @else if $class == phablet {
        @media (max-width: $phablet) { @content; }
    }

    @else if $class == tablet {
        @media (max-width: $tablet) { @content; }
    }

    @else if $class == tablet-landscape {
        @media (max-width: $tablet-landscape) { @content; }
    }

    @else if $class == desktop {
        @media (max-width: $desktop) { @content; }

    }

    @else if $class == xl-desktop {
        @media (min-width: $desktop + 1) { @content; }
    }

}

// @include clearfix;
@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

// @include column(2);
@mixin column($value) {
	width: (100/12) * $value + 0%;
}

// @include flex;
@mixin flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

// @include hidpi(1.3)
@mixin hidpi($ratio: 1.3) {
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
        only screen and (min--moz-device-pixel-ratio: $ratio),
        only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
        only screen and (min-resolution: round($ratio * 96dpi)),
        only screen and (min-resolution: $ratio * 1dppx) {
            @content;
        }
}

// @include linearGradient(left, right, start-percent, end-percent, #cccccc, #666666);
@mixin linearGradient($start, $end, $start-percent, $end-percent, $color1, $color2) {

    @if $start == 'top' { $type: 0; }
    @else if $start == 'left' { $type: 1; }

    background: $color1;
    background: -moz-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: -webkit-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: -o-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: -ms-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: linear-gradient(to $end, $color1 $start-percent, $color2 $end-percent);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=#{$type} );
}

// @include list-reset;
@mixin list-reset {
	list-style: none;
	margin: 0;
	padding: 0
}

// @include opacity(0.8);
@mixin opacity($value) {
    $IEValue: $value * 100;
    opacity: $value;
    filter: alpha(opacity=$IEValue);
}

// @include position-absolute($top: 10px, $left: 10px);
@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
    bottom: $bottom;
    left: $left;
    position: absolute;
    right: $right;
    top: $top;
}

// @include responsive-img;
@mixin responsive-img {
    display: block;
    height: auto;
    max-width: 100%;
    min-width: 100%;
}

// @include text-elipsis;
@mixin ellipsis ($width){
    display: inline-block;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// @include text-truncate;
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// @include transition(all .2s linear);
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// @include vertical-align;
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// @include reset-vertical-align;
@mixin reset-vertical-align {
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}