.grid-container {
	margin: 0 auto;
	max-width: $width-grid;
	position: relative;
	width: 100%;
}

.row {

	@include clearfix();

	.col-1 {
		@include column(1);
	}

	.col-2 {
		@include column(2);
	}

	.col-3 {
		@include column(3);
	}

	.col-4 {
		@include column(4);
	}

	.col-5 {
		@include column(5);
	}

	.col-6 {
		@include column(6);
	}

	.col-7 {
		@include column(7);
	}

	.col-8 {
		@include column(8);
	}

	.col-9 {
		@include column(9);
	}

	.col-10 {
		@include column(10);
	}

	.col-11 {
		@include column(11);
	}

	.col-12 {
		@include column(12);
	}
	
	[class*='col-'] {
		
		@include box-sizing(border-box);
		@include clearfix();
		float: left;
		min-height: 1px; 
		padding: 0 $column-gap / 2; 
		
        @include breakpoint(xs) {
    		float: none !important;
    		width: 100% !important;
        }
		
    }
    
    .row {
	    margin-left: -$margin-default/2;
	    margin-right: -$margin-default/2;
	    position: relative;
    }

}

.pull-left {

	float: left !important;

	@include breakpoint(xs) {
		float: none !important;
	}

}

.pull-right {

	float: right !important;

	@include breakpoint(xs) {
		float: none !important;
	}

}