// font
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 1.4em;

// colors
$color-background: #fff;
$color-primary: #ad9967;
$color-secondary: #88764a;
$color-text: #505050;
$color-link-default: #ad9967;
$color-link-hover: #ad9967;
$color-hr: #ececec;
$color-heading: #505050;
$color-line: #ececec;

// margins
$margin-default: 30px;
$padding-default: 30px;

// resposnive
$responsive-mode: 'RWD'; // options 'RWD' or 'AWD'

// break points
$bp-lg: 1170px;
$bp-md: 960px;
$bp-sm: 768px;

// grid
$column-gap: 30px;
$width-grid-rwd: 1170px;
$width-grid-lg-awd: 1170px;
$width-grid-md-awd: 930px;
$width-grid-sm-awd: 738px;
$width-grid-xs-awd: 480px;

// image path
$image-path: '../img/';