// font
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 20px;

// colors
$color-background: #fff;
$color-primary: #ad9967;
$color-secondary: #88764a;
$color-text: #505050;
$color-link-default: #ad9967;
$color-link-hover: #ad9967;
$color-hr: #ececec;
$color-heading: #505050;
$color-line: #ececec;

// margins
$margin-default: 20px;
$padding-default: 20px;

// grid
$width-grid: 1020px;
$column-gap: 30px;