// font
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 1.4em;

// colors
$color-background: #fff;
$color-primary: #ad9967;
$color-secondary: #88764a;
$color-text: #505050;
$color-link-default: #ad9967;
$color-link-hover: #ad9967;
$color-hr: #ececec;
$color-heading: #505050;
$color-line: #ececec;

// margins
$margin-default: 30px;
$padding-default: 30px;

// resposnive
$responsive-mode: 'fluid-fixed'; // options: 'fluid' or 'fluid-fixed'

// break points
$phone: 360px;
$phablet: 480px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1200px;

// grid
$column-gap: 30px;
$width-grid: 1170px;

// image path
$image-path: '../img/';